body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: #212121;
    color: #f5f5f5;
    font-size: 1rem;
    font-family: Inconsolata;
    -webkit-font-smoothing: antialiased;
}

body > div {
    display: flex;
}

#centered {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#sprintnavcenter {
    padding: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#sprintcontent {
    padding: 10vh 25vw;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}

#sprintcontent > * {
    width: 100%;
}

#sprintcontent > * > img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.textcenter {
    text-align: center;
}

hr {
    border: 1px solid #fd2441;
}

h1, h2, h3, h4 {
    color:  #fd2441;
}

pre {
    margin: 0;
    margin-bottom: 1rem;
}

a {
    color: #fd2441;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

#footer {
    padding: 15px;
    justify-content: space-between;
}

#footer a {
    color: #fd2441;
}
