<div class="textcenter">
<pre>
   _______  ___  _____  ________
  / __/ _ \/ _ \/  _/ |/ /_  __/
 _\ \/ ___/ , _// //    / / /   
/___/_/  /_/|_/___/_/|_/ /_/    
</pre>

{% case page.title %}
	{% when "One" %}
		{% include one.html %}
	{% when "Two" %}
		{% include two.html %}
	{% when "Three" %}
		{% include three.html %}
	{% when "Four" %}
		{% include four.html %}
	{% when "Five" %}
		{% include five.html %}
	{% when "Six" %}
		{% include six.html %}
	{% when "Seven" %}
		{% include seven.html %}
	{% when "Eight" %}
		{% include eight.html %}
{% endcase %}
</div>
